.table_wrapper {
    overflow-x: auto;
    overflow-y: auto;
    border-radius: .5em;
    width: 100%;
    grid-area: 4 / 1 / span 1 / span 4;
}

img {
    vertical-align: bottom;
    border-radius: .5em;
    width: 7em;
    height: 6em;
}

table {
    white-space: nowrap;
    border-radius: .5em;
    color: $grey_text;
    width: 100%;
}

td {
    text-align: left;
    padding: .4em;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.3px;
    white-space: nowrap;
    border-bottom: .05em solid $grey_bg;
} 
tr {
    background-color: $white;
    &:nth-child(even) {
        background-color: $blue
    }
}

.row_head {
    background-color: $grey_bg;
    border-color: $grey_bg;
}

.avatar_author {
    position: relative;
    align-self: center;
    background-color: $grey_bg;
    margin: .3em;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.status_ellipse_active {
    width: fit-content;
    text-align: left;
    padding: .2em;
    border-radius: 5px;
    background-color: $purple;
}

.pending {
    width: fit-content;
    text-align: left;
    padding: .2em;
    border-radius: 5px;
    background-color: $yellow;
}

.action_td {
    text-align: center;
}

